:root {
  --white: #fdfdfd;
  --black: #000;
  --light-gray: #cccccc;
  --gray: #575757;
  --shadow-us: 5px 5px 20px rgba(0, 0, 0, 0.15);
  --shadow-us-hover: 5px 5px 25px rgba(0, 0, 0, 0.25);
  --gradient: linear-gradient(110deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  padding: 1.5rem;
}

header {
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 4fr 6fr;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
button {
  border: none;
  width: 100%;
  padding: 1rem 0;
  border-radius: 5rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--white);
  color: var(--light-gray);
}
form > button {
  width: 30%;
  color: var(--black);
}
input {
  border: none;
  padding: 1rem 4rem;
  border-radius: 5rem;
  font-size: 1rem;
  width: 100%;
  background-color: var(--white);
  color: var(--gray);
  background: url(assets/search.svg) no-repeat 2.5rem;
  background-size: 20px;
  background-position: 5%;
}
input::placeholder {
  color: var(--light-gray);
}
button,
input {
  box-shadow: var(--shadow-us);
  transition: ease-in 200ms;
}
button:hover {
  box-shadow: var(--shadow-us-hover);
  transition: ease-in 200ms;
}
input:hover {
  box-shadow: var(--shadow-us-hover);
  transition: ease-in 200ms;
}
section {
  display: grid;
  grid-template-columns: 4fr 6fr;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 80vh;
  width: 100%;
}
.weather-info-main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
  justify-content: center;
  background: linear-gradient(110deg, #3e8ff5 10%, #f849ec 100%);
  height: 100%;
  border-radius: 5rem;
  padding: 0 3rem;
}

.weather-info-main-container > div {
  text-align: start;
}
/* .date {
  margin-top: -2rem;
} */
.date,
.temperature-range {
  font-size: 1.2rem;
  color: var(--white);
  opacity: 0.8;
}
/* .temperature-range {
  margin-bottom: 2rem;
} */
.location {
  font-size: 1.8rem;
  color: var(--white);
  opacity: 0.8;
}
.temperature {
  font-size: 12rem;
  align-self: flex-end;
  color: var(--white);
}
.up,
.down {
  height: 1rem;
  width: auto;
}
.error {
  font-size: 2.5rem;
  color: var(--white);
  text-align: left;
}
ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  height: 80vh;
}
li {
  list-style: none;
  box-shadow: var(--shadow-us);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}
.mini-info {
  grid-column: span 2;
}
li > p {
  font-size: 1rem;
  color: var(--light-gray);
}
.big {
  color: var(--black);
  font-size: 3rem;
}
.hidden {
  display: none;
}
